<html>
    {% block content %}

    <head>
        <title>car book</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css"> 
        <link rel="stylesheet" href="../static/css/mobile.css"> 
    </head>
<body>
    <div class="header" id="header">
        <div class="nav-bar">
            <div class="logo">
                <a href="#">Concern</a>
            </div>
            
        </div>
    </div>
    <div>
        <ul >
            <li >
           
            {% for list in lists%}
            <a style="color:rgb(226, 4, 4)" href="{{list.id}}">{{list}}</a>
            {% endfor%}
           
            </li>
        </ul>
    </div>
    <footer>
      
            <div class="row" style="text-align: center;">
                
                <p style="color: white;">Concern curieer Sservice and car booking</p>
                
            </div>

    </footer>
    {% endblock content %}
</html>