<html>
    <head>
        <title>car book</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css"> 
        <link rel="stylesheet" href="../static/css/mobile.css"> 
    </head>
<body>
    <div class="header" id="header">
        <div class="nav-bar">
            <div class="logo">
                <a href="/">Concern</a>
            </div>
            
        </div>
    </div>

    <div>
        {% for object in objects%}
            <h1>{{object.subject}}</h1></br>
                {{object.username}}</br>
                {{object.email}}</br>
                {{object.number}}</br>
                {{object.pickup}}</br>
                {{object.message}}
        {% endfor %}
        
        </div>
        <button type="submit" class="btn btn-contact">Approved</button>

    <footer>
      
            <div class="row" style="text-align: center;">
                
                <p style="color: white;">Concern curieer Sservice and car booking</p>
                
            </div>

    </footer>
    
</body>
</html>