<html>
    {% block content %}

    <head>
        <title>car book</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css"> 
        <link rel="stylesheet" href="../static/css/mobile.css"> 
    </head>
<body>
    <div class="header" id="header">
        <div class="nav-bar">
            <div class="logo">
                <a href="/">Concern</a>
            </div>
            <!-- <div class="menu">
                <ul>
					<li><a href="car.html">Car Booking</a></li>
					<li><a href="adminsign">Admin</a></li>
					<li><a href="msign">Manager</a></li>
				</ul>
            </div> -->
        </div>
    </div>

    <section class="w3l-simple-contact-form1">
        <div class="contact-form section-gap">
          <div class="wrapper">
            <div class="text-center">
            <h1 style="font-size: 40px; " >Booking Form</h1>
          </div>
            <div class="contact-form" style="max-width: 450px; margin: 0 auto;">
              <div class="form-mid">
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
                    </div>
                    <div class="field">
                        <input type="text" class="form-control" name="username" id="username" placeholder="username" required="">
                    </div>
                    <div class="field">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                        required="">
                    </div>
                    <div class="field">
                        <input type="number" class="form-control" name="number" id="number" placeholder="Phone Number" required="">
                    </div>
                    <div class="field">
                        <input type="text" class="form-control" name="pickup" id="pickup" placeholder="pickup" required="">
                    </div>
                    <div class="field">
                        <input type="text" class="form-control" name="message" id="message" placeholder="message"
                        required="">
                    </div>
                    <!-- <div class="field">
                        <label for="cars">Choose your Manager</label>
                        <select name="cars" id="cars">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                          </select>
                    </div> -->
                    <!-- <div class="field">
                        <input type="date" class="form-control" name="date" id="date"required="">
                    </div>
                    <div class="field">
                        <input type="time" class="form-control" name="time" id="time"required="">
                    </div> -->
                    <button type="submit" class="btn btn-contact">Send Message</button>
                    <!-- <input type="button" class="btn btn-contact" onclick="sendmail();"  value="Send Message"> -->
    
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>

    <footer>
      
            <div class="row" style="text-align: center;">
                
                <p style="color: white;">Concern curieer Sservice and car booking</p>
                
            </div>

    </footer>
    {% endblock content %}
</html>