<html>
    <head>
        <title>car book</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css"> 
        <link rel="stylesheet" href="../static/css/mobile.css"> 
    </head>
<body>
    <div class="header" id="header">
        <div class="nav-bar">
            <div class="logo">
                <a href="#">Concern</a>
            </div>
            <div class="menu">
                <ul>
					<li><a href="car.html">Car Booking</a></li>
					<li><a href="http://127.0.0.1:8000/adminsign">Admin</a></li>
					<li><a href="http://127.0.0.1:8000/msign">Manager</a></li>
				</ul>
            </div>
        </div>
    </div>

    <section class="w3l-simple-contact-form1">
        <div class="contact-form section-gap">
          <div class="wrapper">
            <div class="text-center">
            <h1 style="font-size: 40px; " >Manager Login</h1>
          </div>
            <div class="contact-form" style="max-width: 450px; margin: 0 auto;">
              <div class="form-mid">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="field">
                        <input type="text" class="form-control" name="username" id="username" placeholder="username" required="">
                    </div>
                    <!-- <div class="field">
                        <input type="email" class="form-control" name="email" id="email" placeholder="email" required="">
                    </div> -->
                    <div class="field">
                        <input type="password" class="form-control" name="password" id="password" placeholder="password" required="">
                    </div>
                    
                    <button type="submit" class="btn btn-contact">Login</button>
                    <!-- <input type="button" class="btn btn-contact" onclick="sendmail();"  value="Send Message"> -->
    
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>

    <footer>
      
            <div class="row" style="text-align: center;">
                
                <p style="color: white;">Concern curieer Sservice and car booking</p>
                
            </div>

    </footer>
    
</body>
</html>