<html>
    <head>
        <title>car book</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css"> 
        <link rel="stylesheet" href="/static/css/mobile.css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
    </head>
<body>
    <div class="header" id="header">
        <div class="nav-bar">
            <div class="logo">
                <a href="/">Concern</a>
            </div>
            
        </div>
    </div>

    {% if objects%}
    {% for object in objects%}
    <div class="row" style="margin-top: 10px; text-align: center; " >
        {% csrf_token %}
        
            
            <ul class="list-group" style="text-align: center;" >
                <div class="list-group-item subject">{{object.subject}}</div> 
                <div class="list-group-item username">{{object.username}}</div> 
                <div class="list-group-item email">{{object.email}}</div> 
                <div class="list-group-item number">{{object.number}}</div> 
                <div class="list-group-item pickup">{{object.pickup}}</div> 
                <div class="list-group-item message">{{object.message}}</div> 
            </ul>
            
        
        <button type="submit" id="forward" value="Submit"  class="btn btn-contact">Forward</button>
        
    </div>
    {% endfor %}
    {% endif %}
    

    <footer>
      
            <div class="row" style="text-align: center;">
                
                <p style="color: white;">Concern curieer Sservice and car booking</p>
                
            </div>

    </footer>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/jquery-3.5.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</body>
</html>